.main-container {
  max-width: 1300px;
  margin: 0 auto;
  .heading-1 {
    margin-left: 5px;
  }
  //
  .categories-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
